<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DocumentGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SimpleMVVMExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DocumentGenerator.Properties.Settings>
            <setting name="testReportItemList" serializeAs="String">
                <value>C:\Users\Tom\Desktop\TestReportItems.xml</value>
            </setting>
            <setting name="templateDoc" serializeAs="String">
                <value>C:\Users\Tom\Documents\TestReport.docx</value>
            </setting>
            <setting name="currentDataSourceType" serializeAs="String">
                <value>ReportItemReader.XML.XMLReportItemReader, ReportItemReader.XML, Version=1.0.0.0, Culture=neutral</value>
            </setting>
        </DocumentGenerator.Properties.Settings>
        <SimpleMVVMExample.Properties.Settings>
            <setting name="testReportItemList" serializeAs="String">
                <value>C:\Users\Tom\Desktop\TestReportItems.xml</value>
            </setting>
            <setting name="templateDoc" serializeAs="String">
                <value>C:\Users\Tom\Documents\TestReport.docx</value>
            </setting>
        </SimpleMVVMExample.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
